---
title:
    en: Monaca Cloud
		ja: Monacaクラウド
class: cloud
---

<div class="keyvisual box-full">
    <div>
        <h1>
            <img src="/img/cloud/logo.png" alt="Monaca Localkit" class="logo" /><br/>{{{i18n "cloudHeading"}}}<br/>
            <span>{{{i18n "cloudHeading2"}}}</span>

            <div class="btns">
                <a href="https://monaca.mobi/{{language}}/register/start" class="btn btn-green">{{{i18n "signupFree"}}}</a>
            </div>
        </h1>
    </div>
</div>

<section class="summary">
    <h1>{{{i18n "cloudSummaryTitle"}}}</h1>
    <p>{{i18n "cloudSummaryBody"}}</p>
</section>

<section>
    <h1>{{i18n "cloudSkillTitle"}}</h1>
    <p>{{i18n "cloudSkillBody"}}</p>
    <img src="/img/cloud/img_2.png" alt=""/>
</section>

<section>
    <h1>{{{i18n "cloudLivereloadTitle"}}}</h1>
    <p>{{i18n "cloudLivereloadBody"}}</p>
    <p>{{{i18n "cloudLivereloadLink"}}}</p>

    <div id="animation-livereload" class="hidden-xs">
        <div class="livereload-editor">
            <div class="livereload-editor-header">index.html</div>
            <div class="livereload-editor-mask"></div>
            <div class="livereload-saved"></div>
        </div>

        <div class="livereload-connect stop"></div>

        <div class="livereload-device">
            <div class="livereload-device-screen-base"></div>
            <div class="livereload-device-screen"></div>
            <div class="livereload-device-screen-reloaded hidden"></div>
        </div>
    </div>
    <img src="/img/debugger/img_1.png" class="visible-xs"/>
</section>

<section class="workflow">
    <h1>{{i18n "cloudWorkflowTitle"}}</h1>
    <p>{{i18n "cloudWorkflowBody"}}</p>
    <ol>
        <li>{{i18n "cloudWorkflow1"}}</li>
        <li>{{i18n "cloudWorkflow2"}}</li>
        <li>{{i18n "cloudWorkflow3"}}</li>
        <li>{{i18n "cloudWorkflow4"}}</li>
    </ol>
</section>

<div class="container box-examples">
    <h2>{{{i18n "exampleTitle"}}}</h2>
    <img src="/img/index/examples_img.png">
    <p><a href="http://monaca.mobi/{{language}}/showcase" class="btn btn-darkgray">{{i18n "exampleBtn"}}</a></p>
</div>


{{#is language "ja"}}
    <div class="container box-uservoices">
        <h2>Monacaを使っているユーザーの声</h2>

        <div class="uservoice">
            <div class="uservoice-balloon">
                <q>使う言語がHTML5とJavaScriptなのでプログラマーがいなくてもアプリを作ることができて、
                    とても助かります。また、作ったアプリをすぐにデバッガーで確認できるのも嬉しいです。</q>
            </div>
            <div class="uservoice-user">
                <div class="uservoice-organization">株式会社ファンシーリンクス</div>
                <div class="uservoice-name">アプリ開発担当者様</div>
            </div>
        </div>

        <div class="uservoice">
            <div class="uservoice-balloon">
                <q>ノンプログラマでも簡単なものなら基本のHTMLやJavaScriptの知識があればアプリを作成できるのは画期的。
                    非常に希望を持てます。iOSアプリも作成だけならWindows環境でできてしまうのは感動です。</q>
            </div>

            <div class="uservoice-user">
                <div class="uservoice-organization">株式会社ワンディッシュ</div>
                <div class="uservoice-name">代表 村田大様</div>
            </div>
        </div>
    </div>
{{/is}}

<div class="container box-partners">
    <img src="/img/index/partners.png">
</div>

<div class="box-awards">
    <ul class="clearfix">
        <li><img src="/img/index/award_1.png" alt="{{i18n "awardMicrosoft"}}"></li>
        <li><img src="/img/index/award_4.png" alt="Red Herring Asia: Top 100 Winner"></li>
        <li><img src="/img/index/award_2.png" alt="{{i18n "awardMobileProject"}}"></li>
        <li><img src="/img/index/award_3.png" alt="{{i18n "awardInterOp"}}"></li>
    </ul>
</div>

<div class="box-try">
    <a href="https://monaca.mobi/{{language}}/register/start" class="btn btn-blue">{{{i18n "signupFree"}}}</a>
</div>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<script src="/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>