---
title: Monacaデバッガー
class: debugger
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/debugger/logo.png" alt="Monaca Debugger"/><br/>{{{i18n "dbgHeading"}}}</h1>
        <p class="btns">
            <a class="appstore" href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store"/></a>
            <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png"/></a>
            <a href="http://www.amazon.com/Asial-Corporation-Monaca-Debugger/dp/B00H1M1518" target="_blank"><img src="/img/common/bnr_amazon.png" alt="Amazon Apps"/></a>
        </p>
    </div>
</div>

<section>
    <h1>{{{i18n "dbgLivereloadTitle"}}}</h1>
    <p>{{{i18n "dbgLivereloadBody"}}}</p>

    <div id="animation-livereload" class="hidden-xs">
        <div class="livereload-editor">
            <div class="livereload-editor-header">index.html</div>
            <div class="livereload-editor-mask"></div>
            <div class="livereload-saved"></div>
        </div>

        <div class="livereload-connect stop"></div>

        <div class="livereload-device">
            <div class="livereload-device-screen-base"></div>
            <div class="livereload-device-screen"></div>
            <div class="livereload-device-screen-reloaded hidden"></div>
        </div>
    </div>
    <img src="/img/debugger/img_1.png" class="visible-xs"/>
</section>

<section class="debug">
    <h1>{{{i18n "dbgDebugTitle"}}}</h1>
    <p>{{{i18n "dbgDebugBody"}}}</p>
    <img src="/img/debugger/img_2.jpg" alt=""/>

    <div class="integration">
        <h2>{{i18n "dbgIntegrateTitle"}}</h2>
        <p>{{{i18n "dbgIntegrateBody"}}}</p>
    </div>

    <div class="usb">
        <h2>{{i18n "dbgUsbTitle"}}</h2>
        <p>{{i18n "dbgUsbBody"}}</p>
    </div>

    <div class="plugins">
        <h2>{{i18n "dbgPluginsTitle"}}</h2>
        <p>{{{i18n "dbgPluginsBody"}}}</p>
        <img src="/img/debugger/img_5.png" alt=""/>
    </div>
</section>

<section class="collaboration">
    <h1>{{i18n "dbgCollabTitle"}}</h1>

    <p>{{i18n "dbgCollabBody"}}</p>
    <img src="/img/debugger/img_6.jpg" alt=""/>

    <div class="internet">
        <h2>{{i18n "dbgShareTitle"}}</h2>
        <p>{{i18n "dbgShareBody"}}</p>
    </div>
    <div class="communication">
        <h2>{{i18n "dbgCommunicationTitle"}}</h2>
        <p>{{i18n "dbgCommunicationBody"}}</p>
    </div>
</section>

<div class="box-try">
    <p>{{{i18n "dbgDownload"}}}</p>
    <a href="http://itunes.apple.com/jp/app/monaca/id550941371?mt=8" target="_blank"><img src="/img/common/bnr_appstore.svg" alt="App Store"/></a>
    <a href="https://play.google.com/store/apps/details?id=mobi.monaca.debugger" target="_blank"><img alt="Get it on Google Play" src="/img/common/bnr_googleplay.png"/></a>
    <a href="http://www.amazon.com/Asial-Corporation-Monaca-Debugger/dp/B00H1M1518" target="_blank"><img src="/img/common/bnr_amazon.png" alt="Amazon Apps"/></a>
</div>


<link href="/css/codemirror.css" rel="stylesheet">
<script src="/js/codemirror.js"></script>

<script>
    window.onload = function() {
        animateLivereload(document.getElementById("animation-livereload"));
    };
</script>