---
title: HTML5ハイブリッドアプリ開発サポート
class: dev-support
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/localkit/logo.png" alt="Monaca Localkit"/><br />{{{i18n "devSupportHeading"}}}</h1>
    <p>{{i18n "devSupportDescription"}}</p>
</div></div>

<section>
    <h1>{{i18n "devSupportSummaryTitle"}}</h1>
    <p>{{i18n "devSupportSummaryBody"}}</p>
    <img src="/img/localkit/img_1.png" alt=""/>
</section>

<section>
    <h1>{{i18n "devSupportStaffTitle"}}</h1>
    <p>{{{i18n "devSupportStaffBody"}}}</p>
    <img src="/img/localkit/img_2.png" alt=""/>
</section>

<section class="debug">
    <h1>{{i18n "devSupportMenuTitle"}}</h1>
</section>

<div class="box-try">
    <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry">{{i18n "btnTryBeta"}}</a>
</div>

