---
title: 
    en: Monaca Enterprise
    ja: Monacaエンタープライズ
class: enterprise
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/enterprise/logo.png" alt="Monaca enterprise"/><br/>{{{i18n "enterpriseHeading"}}}</h1>
        <div class="btns">
            <a href="https://monaca.mobi/ja/support/inquiry/enterprise" class="btn btn-line-white">{{i18n "btnDemo"}}</a>
            <a href="https://monaca.mobi/ja/support/inquiry/enterprise" class="btn btn-blue">{{i18n "btnContact"}}</a>
        </div>
    </div>
</div>


<section>
    <h1>{{{i18n "enterpriseSummaryTitle"}}}</h1>
    <p>{{{i18n "enterpriseSummaryBody"}}}</p>
    <img src="/img/enterprise/img_1_{{language}}.png" alt=""/>
</section>

<section>
    <h1>{{{i18n "enterpriseRelationTitle"}}}</h1>
    <p>{{i18n "enterpriseRelationBody"}}</p>
    <img src="/img/enterprise/img_2_{{language}}.png" alt=""/>
</section>

<section>
    <h1>{{i18n "enterpriseEditorTitle"}}</h1>
    <p>{{i18n "enterpriseEditorBody"}}</p>
    <img src="/img/enterprise/img_3_{{language}}.jpg" alt=""/>
</section>

<section class="plugins">
    <h1>{{i18n "enterprisePluginsTitle"}}</h1>

    <h2>{{i18n "enterpriseEncryptTitle"}}</h2>
    <p>{{i18n "enterpriseEncryptBody"}}</p>
    <img src="/img/enterprise/img_4_{{language}}.jpg" class="img-encrypt" alt=""/>

    <h2>{{i18n "enterpriseStorageTitle"}}</h2>
    <p>{{i18n "enterpriseStorageBody"}}</p>
    <img src="/img/enterprise/img_5_{{language}}.jpg" class="img-storage" alt=""/>

    <h2>{{i18n "enterpriseUpdaterTitle"}}</h2>
    <p>{{i18n "enterpriseUpdaterBody"}}</p>
    <img src="/img/enterprise/img_6_{{language}}.png" alt=""/>
</section>

<section>
    <h1>{{i18n "enterprisePerformanceTitle"}}</h1>
    <p>{{i18n "enterprisePerformanceBody"}}</p>
    <p>{{i18n "enterprisePerformanceCaution"}}</p>
    <img src="/img/index/img_3.jpg" alt=""/>
</section>

<section>
    <h1>{{i18n "enterpriseDebuggerTitle"}}</h1>
    <p>{{i18n "enterpriseDebuggerBody"}}</p>
    <img src="/img/enterprise/img_8.png" alt=""/>
</section>

<section>
    <h1>{{i18n "enterpriseServiceTitle"}}</h1>
    {{{i18n "enterpriseServiceBody"}}}
    <img src="/img/enterprise/img_9_{{language}}.png" alt=""/>
</section>

<div class="box-try">
    <a class="btn btn-darkgray" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnDemo"}}</a>
    <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnContact"}}</a>
</div>