---
title:
    ja: エンタープライズmBaaS「KidoZen」とは
    en: KidoZen, Enterprise mBaaS
class: kidozen
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/kidozen/logo.png" alt="KidoZen"/><br/>{{{i18n "kidozenHeading"}}}</h1>

        <div class="btns">
            <a class="btn btn-darkgray" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnDemo"}}</a>
            <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnContact"}}</a>
        </div>
    </div>
</div>

<section>
    <h1>{{i18n "kidozenSummaryTitle"}}</h1>
    {{{i18n "kidozenSummaryBody"}}}
    <img src="/img/kidozen/img_1.png" alt=""/>
</section>

<section>
    <h1>{{i18n "kidozenApiTitle"}}</h1>
    <p>{{i18n "kidozenApiBody"}}</p>
    <p style="text-align: center;"><a href="http://www.kidozen.com/prod/mobile-backend-services-enterprise-system-apIs/" target="_blank">{{i18n "kidozenApiAnchor"}} <i class="fa fa-external-link"></i></a></p>
    <img src="/img/kidozen/img_2.png" alt=""/>
</section>

<div class="lucy-in-the-sky">
    <section class="baas">
        <h1>{{i18n "kidozenBaasTitle"}}</h1>
        <p>{{i18n "kidozenBaasBody"}}</p>
        <!-- bg -->
    </section>

    <section>
        <h1>{{i18n "kidozenAnalysisTitle"}}</h1>
        {{{i18n "kidozenAnalysisBody"}}}
        <img src="/img/kidozen/img_4.png" alt=""/>
    </section>
</div>

<section>
    <h1>{{i18n "kidozenCaseTitle"}}</h1>
    <p>{{i18n "kidozenCaseBody"}}</p>
    <p style="text-align: center;"><a href="http://www.kidozen.com/customers/" target="_blank">{{i18n "kidozenCaseAnchor"}} <i class="fa fa-external-link"></i></a></p>
    <img src="/img/kidozen/img_5.png" alt=""/>
</section>

<div class="box-try">
    <a class="btn btn-darkgray" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnDemo"}}</a>
    <a class="btn btn-blue" href="https://monaca.mobi/ja/support/inquiry/enterprise">{{i18n "btnContact"}}</a>
</div>

