---
title:
    en: Monaca Localkit
    ja: Monacaローカルキット
class: localkit
---

<div class="keyvisual box-full">
    <div>
        <h1><img src="/img/localkit/logo.png" alt="Monaca Localkit"/><br/>{{{i18n "localkitHeading"}}}</h1>
    </div>
</div>

<section>
    <h1>{{i18n "localkitSummaryTitle"}}</h1>
    <p>{{i18n "localkitSummaryBody"}}</p>
    <img src="/img/localkit/img_1_{{language}}.jpg" alt=""/>
</section>

<section>
    <h1>{{i18n "localkitEditorTitle"}}</h1>
    <p>{{i18n "localkitEditorBody"}}</p>
    <img src="/img/enterprise/img_3_{{language}}.jpg" alt=""/>
</section>

<section class="debug">
    <h1>{{i18n "localkitDebugTitle"}}</h1>
    <p>{{i18n "localkitDebugBody"}}</p>
</section>

<div class="box-try">
    {{#is language "ja"}}
        <p class="btn btn-blue"><a href="https://drive.google.com/uc?export=preview&id=0B65hSYz0Aps9aHV6Q1Z1Z0JKaUE" target="_blank">{{{i18n "localkitDownload"}}}</a></p>
        <p class="notes">{{i18n "localkitDownloadCaution"}}</p>
    {{else}}
        <p class="btn btn-blue"><a href="/localkit-closedbeta.html">Monaca Localkit Closed Beta</a></p>
    {{/is}}
</div>

