---
title:
    en: Pricing
    ja: ご利用料金
class: prices
---


<h1></h1>

<section>
    <h2>{{i18n "priceCloudTitle"}}</h2>
    <p>{{i18n "priceCloudBody"}}</p>
    <ul class="planlist">
        <li class="plan">
            <h2>Basic</h2>
            <p class="price">{{{i18n "priceCloudBasic"}}}</p>
        </li>
        <li class="plan">
            <h2>Personal</h2>
            <p class="price">{{{i18n "priceCloudPersonal"}}}</p>
        </li>
        <li class="plan recommend">
            <h2>Gold</h2>
            <p class="price">{{{i18n "priceCloudGold"}}}</p>
        </li>
        <li class="plan">
            <h2>Platinum</h2>
            <p class="price">{{{i18n "priceCloudPlatinum"}}}</p>
        </li>
    </ul>
    <p class="annotation">{{{i18n "priceTaxIncluded"}}}<br /><a href="https://monaca.mobi/{{language}}/support/inquiry" class="btn btn-blue">{{i18n "priceContact"}}</a></p>
</section>

<section>
    <h2>{{i18n "priceAcademicTitle"}}</h2>
    <p>{{i18n "priceAcademicBody"}}</p>
    <ul class="planlist">
        <li class="plan">
            <div class="summary">
                <h2>Basic<span class="yeah">&nbsp</span></h2>
                <p class="price">{{{i18n "priceAcademicBasic"}}}</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Education<br/><span class="yeah">{{i18n "priceAcademicEducationAddition"}}</span></h2>
                <p class="price">{{{i18n "priceAcademicEducation"}}}</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Gold<br/><span class="yeah">40%OFF</span></h2>
                <p class="price">{{{i18n "priceAcademicGold"}}}</p>
            </div>
        </li>
        <li class="plan">
            <div class="summary">
                <h2>Platinum<br/><span class="yeah">40%OFF</span></h2>
                <p class="price">{{{i18n "priceAcademicPlatinum"}}}</p>
            </div>
        </li>
    </ul>
    <p class="annotation">{{{i18n "priceTaxIncluded"}}}<br /><a href="https://monaca.mobi/{{language}}/support/inquiry" class="btn btn-blue">{{i18n "priceContact"}}</a></p>
</section>

<section class="enterprise">
    <h2>{{i18n "priceEnterpriseTitle"}}</h2>
    <p>{{i18n "priceEnterpriseBody"}}</p>
    <div class="plan">
        <h2>Enterprise</h2>
        <div class="summary">
            <dl>
                <dt>{{i18n "priceEnterpriseSetup"}}</dt>
                <dd>{{{i18n "priceEnterpriseSetup2"}}}</dd>
            </dl>
            <dl>
                <dt>{{i18n "priceEnterpriseBase"}}</dt>
                <dd>{{{i18n "priceEnterpriseBase2"}}}</dd>
            </dl>
            <dl>
                <dt>{{i18n "priceEnterpriseLicense"}}</dt>
                <dd>{{{i18n "priceEnterpriseLicense2"}}}</dd>
            </dl>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/{{language}}/support/inquiry/enterprise">{{i18n "priceEnterpriseContact"}}</a>
    </div>
    <p class="annotation">{{i18n "priceEnterpriseCaution"}}</p>
</section>

<section class="kidozen">
    <h2>{{i18n "priceKidozenTitle"}}</h2>
    <p>{{i18n "priceKidozenBody"}}</p>
    <div class="plan">
        <h2>Enterprise <br class="opt" /> mBaaS KidoZen</h2>
        <div class="summary">
            <dl>
                <dt>{{i18n "priceKidozenPrice"}}</dt>
                <dd><em>{{i18n "priceKidozenPrice2"}}</em></dd>
            </dl>
            <p>{{i18n "priceKidozenExpl"}}</p>
        </div>
        <a class="btn btn-blue" href="https://monaca.mobi/{{language}}/support/inquiry/enterprise">{{i18n "priceEnterpriseContact"}}</a>
    </div>
</section>
