---
title:
    en: Support & Services
    ja: サービス＆サポート
class: support
---

<div class="keyvisual box-full"><div>
    <h1><img src="/img/support/logo.png" alt="Monaca Service &amp; Support"/><br />{{{i18n "supportHeading"}}}</h1>
</div></div>

<section class="tech">
    <h1>{{i18n "supportTechTitle"}}</h1>
    <img src="/img/support/img_1.jpg" alt="" class="alignright" />
    <div class="tech-cont">
        <p>{{i18n "supportTechBody1"}}</p>
        <p>{{{i18n "supportTechBody2"}}}</p>
    </div>
</section>

<section>
    <h2>{{i18n "supportDevTitle"}}</h2>
    <p>{{i18n "supportDevBody"}}</p>
    <!-- <p style="text-align: center;">詳しくは<a href="#">HTML5ハイブリッドアプリ開発支援サービス</a>をご覧ください。</p> -->
    <img src="/img/support/img_2.png" alt=""/>
</section>

<section>
    <h2>{{i18n "supportTrainingTitle"}}</h2>
    <p>{{i18n "supportTrainingBody"}}</p>

    {{#is language "ja"}}
        <p style="text-align: center;">{{{i18n "supportTrainingBody2"}}}</p>
    {{/is}}

    <img src="/img/support/img_3.png" alt=""/>
</section>

<section class="forum">
    <h2>{{i18n "supportForumTitle"}}</h2>
    <p>{{{i18n "supportForumBody"}}}</p>
    <p style="text-align: center;"><a href="https://monaca.mobi/{{language}}/forum">{{i18n "supportForumBtn"}} <i class="fa fa-angle-right"></i></a></p>
</section>