<footer class="common">
  {{#is language "en"}}
  <div>
    <div>
      <h3>Develop</h3>
      <ul>
        <li><a href="/cloud.html"><img src="/img/home/logo_cloud_black.png" /></a></li>
        <li><a href="/debugger.html"><img src="/img/home/logo_debugger_black.png" /></a></li>
        <li><a href="/cli.html"><img src="/img/home/logo_cli.png" /></a></li>
        <li><a href="/visualstudio.html"><img src="/img/home/logo_vs_color.png" /></a></li>
        <li><a href="/localkit.html"><img src="/img/home/logo_localkit_black.png" /></a></li>
        <li><a href="/enterprise.html"><img src="/img/home/logo_enterprise_black.png" /></a></li>
      </ul>
    </div>
    <div>
      <div>
        <h3>Integrate</h3>
        <ul>
          {{#is language "ja"}}
            <li><a href="https://ja.onsen.io/">Onsen UI</a></li>
          {{else}}
            <li><a href="https://onsen.io/">Onsen UI</a></li>
          {{/is}}

          <li><a href="/ci.html">Monaca CI</a></li>

          {{#is language "ja"}}
            <li><a href="https://docs.monaca.io/ja/reference/power_plugins/">Monaca Power Plugin</a></li>
          {{else}}
            <li><a href="https://docs.monaca.io/en/reference/power_plugins/">Monaca Power Plugin</a></li>
          {{/is}}

          <li><a href="/product-partner/">Product Partner</a></li>
        </ul>
      </div>

      <div>
        <h3>Resources</h3>
        <ul>
          {{#is language "ja"}}
            <li><a href="https://docs.monaca.io/ja/">Documents</a></li>
          {{else}}
            <li><a href="https://docs.monaca.io/en/">Documents</a></li>
          {{/is}}


          <li><a href="/pricing.html">Pricing</a></li>
          <li><a href="/great-apps.html">Showcase</a></li>

          {{#is language "ja"}}
            <li><a href="https://ja.onsen.io/blog/">Monaca x Onsen UI Blog</a></li>
          {{else}}
            <li><a href="https://onsen.io/blog/">Monaca x Onsen UI Blog</a></li>
          {{/is}}
        </ul>
      </div>

      <div>
        <h3>Support</h3>
        <ul>
          <li><a href="/headline/">News & Updates</a></li>
          <li><a href="https://community.onsen.io/">Community Forum</a></li>
          <li><a href="/service/index.html">Support & Services</a></li>
          <li><a href="/logos.html">Logo Guideline</a></li>
        </ul>
      </div>

      <div>
        <h3>Other</h3>
        <ul>
          <li><a href="/terms-of-service/">Terms</a></li>
          <li><a href="/about-us.html">About Us</a></li>
          <li><a href="/terms-of-service/policy.html">Privacy Policy</a></li>
          <li><a href="https://ja.monaca.io/">日本語</a></li>
        </ul>
      </div>
    </div>

    <div class="social-media">
      <ul>
          {{#is language "ja"}}
            <li><a class="twitter" href="https://twitter.com/monaca_ja"></a></li>
          {{else}}
            <li><a class="twitter" href="https://twitter.com/monaca_io"></a></li>
          {{/is}}

          <li><a class="github" href="https://github.com/monaca"></a></li>
          <li><a class="facebook" href="https://www.facebook.com/monaca.io"></a></li>
          <li><a class="stackoverflow" href="http://stackoverflow.com/questions/tagged/monaca"></a></li>
        </ul>
    </div>

    <div class="copyright">
      {{#is language "ja"}}
        <p>Copyright &copy; 2017 <a href="/"><img class="monaca" src="/img/footer/logo_monaca_onsen_1.png" /></a><img src="/img/footer/logo_monaca_onsen_2.png" /><a href="https://ja.onsen.io"><img class="onsenui" src="/img/footer/logo_monaca_onsen_3.png" /></a> All rights reserved.</p>
      {{else}}
        <p>Copyright &copy; 2017 <a href="/"><img class="monaca" src="/img/footer/logo_monaca_onsen_1.png" /></a><img src="/img/footer/logo_monaca_onsen_2.png" /><a href="https://onsen.io"><img class="onsenui" src="/img/footer/logo_monaca_onsen_3.png" /></a> All rights reserved.</p>
      {{/is}}
    </div>
  </div>


  {{else}}
    <ul>
        {{#is language "ja"}}
            <li><a href="https://docs.monaca.io/ja/">ドキュメント</a></li>
            <li><a href="/great-apps.html">事例</a></li>
            <li><a href="/headline/">お知らせ</a></li>
            <li><a href="/terms-of-service/">利用規約</a></li>
            <li><a href="/about-us.html">運営会社</a></li>
            <li><a href="/terms-of-service/policy.html">プライバシーポリシー</a></li>
            <li><a href="/terms-of-service/law.html">特定商取引法に基づく表記</a></li>
            <li><a href="http://monaca.io/">English</a></li>
        {{else}}
            <li><a href="https://docs.monaca.io/en/">Docs</a></li>
            <li><a href="http://monaca.mobi/en/blog">Blog</a></li>
            <li><a href="/headline/">Updates</a></li>
            <li><a href="/terms-of-service/">Terms</a></li>
            <li><a href="/about-us.html">About Us</a></li>
            <li><a href="/terms-of-service/policy.html">Privacy Policy</a></li>
            <li><a href="http://ja.monaca.io/">日本語</a></li>
        {{/is}}
    </ul>

    <p>
        {{#is language "ja"}}
           <a href="https://twitter.com/monaca_ja" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_tw.png" alt="Twitter" width="44" height="39"></a>
        {{else}}
           <a href="https://twitter.com/monaca_io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_tw.png" alt="Twitter" width="44" height="39"></a>
        {{/is}}
        <a href="https://github.com/monaca" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_gh.png" alt="GitHub" width="48" height="44"></a>
        <a href="https://www.facebook.com/monaca.io" target="_blank" class="footer-social-icon"><img src="/img/footer/icn_fb.png" width="39" height="39"></a>
        {{#is language "ja"}}<a href="https://teratail.com/tags/monaca" target="_blank" class="footer-social-icon">{{else}}<a href="http://stackoverflow.com/questions/tagged/monaca" target="_blank" class="footer-social-icon">{{/is}}<img src="/img/footer/icn_tt.png" width="44" height="44"></a>
    </p>

    <p class="copyright">Copyright &copy; 2017 <a href="http://www.asial.co.jp/en" target="_blank">Asial Corporation</a>. All rights reserved.</p>

    {{/is}}
</footer>

<div id="modal-overlay"></div>

<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-PTNKTG7':true});</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-526750-34', 'auto', { 'allowLinker': true });
  ga('require', 'linker');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  ga('linker:autoLink', ['monaca.io','ja.monaca.io', 'monaca.mobi']);
  ga('require', 'GTM-PTNKTG7');
  ga('send', 'pageview');

  ga('create', 'UA-526750-32', 'auto', { name: 'original'} );
  ga('original.require', 'displayfeatures');
  ga('original.require', 'linkid', 'linkid.js');
  ga('original.send', 'pageview');

  {{#is language "ja"}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58216,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{else}}
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:58214,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  {{/is}}
</script>
