---
component: navbar
---
<!-- Fixed navbar -->
<header class="navbar navbar-inverse" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/common/header_logo.png" alt="Monaca"/></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n "products"}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/cloud.html">{{i18n "monacaCloud"}}</a></li>
                        <li><a href="/enterprise.html">{{i18n "monacaEnterprise"}}</a></li>
                        <li><a href="/debugger.html">{{i18n "monacaDebugger"}}</a></li>
                        <li><a href="/localkit.html">Monaca Localkit</a></li>
                        {{#is language "ja"}}<li><a href="http://monaca.mobi/ja/academic/">{{i18n "monacaAcademic"}}</a></li>{{/is}}
                        {{#is language "ja"}}<li><a href="http://ja.onsen.io/">Onsen UI</a></li>{{else}}<li><a href="http://onsen.io/">Onsen UI</a></li>{{/is}}
                        <li><a href="/kidozen.html">KidoZen</a></li>
                    </ul>
                </li>

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">料金</a>
                        <ul class="dropdown-menu">
                            <li><a href="/prices.html">ご利用料金</a></li>
                            <li><a href="https://monaca.mobi/ja/pricing">Monacaクラウド・プラン比較</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li>
                        <a href="https://monaca.mobi/en/pricing">Pricing</a>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">パートナー</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://monaca.mobi/ja/partner">開発パートナー制度</a></li>
                            <li><a href="http://monaca.mobi/ja/partner/list">開発パートナー企業紹介</a></li>
                            <li><a href="http://monaca.mobi/ja/productsPartner/">プロダクトパートナー</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://monaca.mobi/en/headline">Updates</a></li>
                            <li><a href="http://docs.monaca.mobi/en/" target="_blank">Docs <i class="fa fa-external-link">&nbsp;</i></a></li>
                            <li><a href="http://monaca.mobi/en/showcase">Showcase</a></li>
                            <li><a href="http://monaca.mobi/en/forum">Forum</a></li>
                            <li><a href="http://monaca.mobi/en/contest">App Contest</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://monaca.mobi/en/blog">Blog</a>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">サポート<span class="opt">・サービス</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/support.html">サポート・サービス概要</a></li>
                            <li><a href="http://monaca.mobi/ja/training/">トレーニング</a></li>
                            <li><a href="https://monaca.mobi/ja/support/index">サポート受付</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li>
                        <a href="https://monaca.mobi/en/support/index">Services</a>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">活用事例</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://monaca.mobi/ja/showcase">アプリ事例</a></li>
                        </ul>
                    </li>
                    <li><a href="http://docs.monaca.mobi/" target="_blank">ドキュメント</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">お知らせ</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://blog.asial.co.jp/category/21" target="_brank">ブログ <i class="fa fa-external-link"></i></a></li>
                            <li><a href="http://monaca.mobi/ja/headline">ニュース</a></li>
                            <li><a href="http://monaca.mobi/ja/headline/release">更新情報</a></li>
                            <li><a href="http://monaca.mobi/ja/headline/fault">障害・不具合情報</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">お問い合わせ</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://monaca.mobi/ja/support/index">サポート受付</a></li>
                            <li><a href="https://monaca.mobi/ja/support/inquiry">お問い合わせ</a></li>
                        </ul>
                    </li>
                {{/is}}

                <li><a href="{{i18n "urlLogin"}}" class="login">{{i18n "login"}}</a></li>
                <li><a href="{{i18n "urlSignup"}}" class="login">{{i18n "signup"}}</a></li>
            </ul>
        </div>
    </div>
</header>
