---
component: navbar
---
<!-- Fixed navbar -->
<header class="navbar navbar-inverse" role="navigation">
        {{#is class "home"}}
        <div class="container">
        {{else}}
        <div class="container small">
        {{/is}}

        <div class="navbar-header" id="header-top">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar-left"></span><span class="icon-bar-right"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/common/logo_monaca.png" alt="Monaca"/></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n "products"}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/cloud.html">{{i18n "monacaCloud"}}</a></li>
                        <li><a href="/visualstudio.html">Monaca for Visual Studio</a></li>
                        <li><a href="/debugger.html">{{i18n "monacaDebugger"}}</a></li>
                        <li><a href="/localkit.html">Monaca Localkit</a></li>
                        {{#is language "ja"}}<li><a href="https://edu.monaca.io/" target="_blank">{{i18n "monacaAcademic"}}</a></li>{{/is}}
                        {{#is language "ja"}}<li><a href="http://ja.onsen.io/">Onsen UI</a></li>{{else}}<li><a href="http://onsen.io/">Onsen UI</a></li>{{/is}}
                        <li><a href="/enterprise.html">{{i18n "monacaEnterprise"}}</a></li>
                        {{#is language "en"}}<li><a href="/cli.html">{{i18n "monacaCli"}}</a></li>{{/is}}
                        {{#is language "en"}}<li><a href="/ci.html">{{i18n "monacaCi"}}</a></li>{{/is}}
                    </ul>
                </li>

                {{#is language "ja"}}
                    <li>
                        <a href="/pricing.html">料金</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/pricing.html">{{i18n "pricing"}}</a>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">パートナー</a>
                        <ul class="dropdown-menu">
                            <li><a href="/solution-partner/index.html">開発パートナー制度</a></li>
                            <li><a href="/solution-partner/list.html">開発パートナー企業紹介</a></li>
                            <li><a href="/product-partner/index.html">プロダクトパートナー</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n "resources"}}</a>
                        <ul class="dropdown-menu">
                            <li><a href="/headline/">Updates</a></li>
                            <li><a href="https://docs.monaca.io/en/" target="_blank">Docs <i class="glyphicon glyphicon-new-window">&nbsp;</i></a></li>
                            <li><a href="/great-apps.html">Showcase</a></li>
                            <li><a href="https://community.onsen.io/">Forum</a></li>
                            <li><a href="/product-partner/">Partners</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://onsen.io/blog/">Blog</a>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">サポート<span class="opt">・サービス</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/dev-support.html">サポート・サービス概要</a></li>
                            <li><a href="/service/training.html">トレーニング</a></li>
                            <li><a href="/book/support/">Monaca公式ガイドブック</a></li>
                            <li><a href="/book/001/">書籍「Monacaで学ぶはじめてのプログラミング」</a></li>
                            <li><a href="/development.html">アプリ開発依頼</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{i18n "services"}}</a>
                        <ul class="dropdown-menu">
                            <li><a href="/service/index.html">{{i18n "support"}} {{i18n "andServices"}}</a></li>
                            <li><a href="/logos.html">Logo Guideline</a></li>
                        </ul>
                    </li>
                {{/is}}

                {{#is language "ja"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">活用事例</a>
                        <ul class="dropdown-menu">
                            <li><a href="/great-apps.html">アプリ事例</a></li>
                            <li><a href="/showcase/">導入事例</a></li>
                        </ul>
                    </li>
                    <li><a href="https://docs.monaca.io/ja/" target="_blank">ドキュメント</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">お知らせ</a>
                        <ul class="dropdown-menu">
                            <li><a href="http://ja.onsen.io/blog/" target="_brank">ブログ <i class="glyphicon glyphicon-new-window"></i></a></li>
                            <li><a href="/headline/">ニュース・更新情報</a></li>
                            <li><a href="/headline/fault.html">障害・不具合情報</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">お問い合わせ</a>
                        <ul class="dropdown-menu">
                            <li><a href="/service/index.html">サポート受付</a></li>
                            <li><a href="/support/inquiry.html">お問い合わせ</a></li>
                            <li><a href="https://teratail.com/tags/monaca" target="_brank">コミュニティ <i class="glyphicon glyphicon-new-window"></i></a></li>
                            <li><a href="/logos.html">ロゴの利用について</a></li>
                            <li><a href="/careers.html">採用情報</a></li>
                        </ul>
                    </li>
                {{/is}}

                {{#is class "home"}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <img src={{i18n "langIcon"}}> {{i18n "fullLang"}}
                        </a>
                        <ul class="dropdown-menu">
                            <li {{#is language "en"}} style="display: none" {{/is}}>
                                <a href="https://monaca.io/">
                                    <img src="/img/icon/en.png"> English
                                </a>
                            </li>
                            <li {{#is language "ja"}} style="display: none" {{/is}}>
                                <a href="https://ja.monaca.io/" >
                                    <img src="/img/icon/ja.png"> 日本語
                                </a>
                            </li>
                            <!--
                            <li {{#is language "es"}} style="display: none" {{/is}}>
                                <a href="https://monaca.io/es/" >
                                    <img src="/img/icon/es.png"> Español
                                </a>
                            </li>
                            <li {{#is language "de"}} style="display: none" {{/is}}>
                                <a href="https://monaca.io/de/" >
                                    <img src="/img/icon/de.png"> Deutsch
                                </a>
                            </li>
                            <li {{#is language "it"}} style="display: none" {{/is}}>
                                <a href="https://monaca.io/it/" >
                                    <img src="/img/icon/it.png"> Italiano
                                </a>
                            </li>
                            <li {{#is language "ru"}} style="display: none" {{/is}}>
                                <a href="https://monaca.io/ru/" >
                                    <img src="/img/icon/ru.png"> Русский
                                </a>
                            </li>
                            -->
                        </ul>
                    </li>
                {{/is}}

                <li id="show_signuppopup_li"><a href="javascript:void(0)" id="show_signuppopup" class="login before-login">{{i18n "signup"}}</a></li>
                <li id="show_loginpopup_li"><a href="javascript:void(0)" id="show_loginpopup" class="login before-login">{{i18n "login"}}</a></li>

                {{#is language "ja"}}
                    <li class="nav-dashboard pc after-login">
                    <a href="javascript:void(0)" class="nav-title dashboard go-to-dashboard">ダッシュボード</a>
                    </li>
                    <li class="nav-user dropdown pc after-login">
                        <span class="nav-title"><img class="user-icon" src="https://secure.gravatar.com/avatar/9b9e30f9722f42ef5c65d8f24ccf9935?s=24&d=mm"></span>
                        <ul class="dropdown-menu">
                            <li><a class="nav-title settings" href="https://monaca.mobi/ja/account/edit">アカウント設定</a></li>
                            <li><a href="javascript:void(0)" class="nav-title exec-logout">ログアウト</a></li>
                        </ul>
                    </li>
                    <li class="sp after-login"><a href="javascript:void(0)" class="go-to-dashboard">ダッシュボード</a></li>
                    <li class="sp after-login"><a href="https://monaca.mobi/ja/account/edit" class="settings"><img class="user-icon" src="https://secure.gravatar.com/avatar/9b9e30f9722f42ef5c65d8f24ccf9935?s=24&d=mm"> アカウント設定</a></li>
                    <li class="sp after-login"><a href="javascript:void(0)" class="exec-logout">ログアウト</a></li>
                {{else}}
                    <li class="nav-dashboard pc after-login">
                        <a href="javascript:void(0)" class="nav-title dashboard go-to-dashboard">Dashboard</a>
                    </li>
                    <li class="nav-user dropdown pc after-login">
                        <span class="nav-title"><img class="user-icon" src="https://secure.gravatar.com/avatar/9b9e30f9722f42ef5c65d8f24ccf9935?s=24&d=mm"></span>
                        <ul class="dropdown-menu">
                            <li><a class="nav-title settings" href="https://monaca.mobi/en/account/edit">Manage</a></li>
                            <li><a href="javascript:void(0)" class="nav-title exec-logout">Logout</a></li>
                        </ul>
                    </li>
                    <li class="sp after-login"><a href="javascript:void(0)" class="go-to-dashboard">Dashboard</a></li>
                    <li class="sp after-login"><a href="https://monaca.mobi/en/account/edit" class="settings"><img class="user-icon" src="https://secure.gravatar.com/avatar/9b9e30f9722f42ef5c65d8f24ccf9935?s=24&d=mm">Manage</a></li>
                    <li class="sp after-login"><a href="javascript:void(0)" class="exec-logout">Logout</a></li>
                {{/is}}
            </ul>
        </div>
    </div>
</header>
