<div id="loginpopup">
  <div class="loginpopup-container clearfix">
<h3>{{#is language "ja"}}ログイン{{else}}Login{{/is}}</h3>

    <div style="width: 100%; text-align: center;">
      <div id="github-login" class="btn-github">
        <div class="github-img"></div>
        <div class="vertical-line"></div>
        <div class="signup-label">Sign In With GitHub</div>
      </div>
      <div class="or-box">
        <hr class="line-l" />
        or
        <hr class="line-r" />
      </div>
    </div>

    <a id="close_loginpopup" class="close"><img src="/img/login/close-dark.png"></a>
    <form class="login-form" method="post" id="login-popup-form">
      <p class="form-error" id="login-popup-error"></p>
      <p class="form-error" id="login-popup-unknown-error">{{#is language "ja"}}エラーが発生しました。ページをリロードしてやり直して下さい。{{else}}Please reload this page and try again.{{/is}}</p>
      <ul>
        <li class="email">
          <input type="text" name="form[email]" maxlength="255" placeholder="{{#is language "ja"}}メールアドレス{{else}}E-mail address{{/is}}" class="email" id="login_popup_email" />
        </li>
        <li>
          <input type="password" name="form[password]" maxlength="30" placeholder="{{#is language "ja"}}パスワード{{else}}Password{{/is}}" class="password" id="login_popup_password" />
        </li>
        <li class="autologin-check">
          <input type="checkbox" name="form[remember_id]" value="1" id="login_popup_remember_email" checked="checked" />
          <label for="login_popup_remember_email"> {{#is language "ja"}}次回から自動的にログイン{{else}}Keep my account logged in{{/is}}</label>
        </li>
        {{#is language "ja"}}
          <li class="forgotpass">
            <a href="/login/lost_password.html">パスワードをお忘れですか？</a>
          </li>
        {{/is}}
        <li>
          <button id="popup_login_btn" class="btn-green btn-long" type="button">
            <span class="loading-spinner spinner-w-green"></span>
            <span class="btn-txt">{{#is language "ja"}}ログイン{{else}}Login{{/is}}</span>
          </button>
          {{#is language "ja"}}<button id="popup_login_btn" class="btn-gray btn-long" type="button" onclick="location.href='https://enterprise.monaca.mobi/ja/'">企業向けプラン管理者のログインはこちら</button>{{/is}}
          <a href="https://partner.classi.jp">Classi IDでログインの方はこちら</a>
        </li>
      </ul>
      <input type="hidden" name="form[_csrf_token]" value="" id="loginpopup-csrf-token" />
    </form>
    {{#is language "en"}}
      <div class="bottom-center">
        <a href="/login/lost_password.html">Forgot password?</a>
      </div>
    {{/is}}
  </div>
</div>
