<div id="signuppopup">

  <div id="signup-ok" class="signuppopup-container clearfix">
    <h3>{{#is language "ja"}}Monaca Cloud IDE サインアップ{{else}}Sign Up{{/is}}</h3>
    <div style="width: 100%; text-align: center;">
      <div id="signup-github" class="btn-github">
        <div class="github-img"></div>
        <div class="vertical-line"></div>
        <div class="signup-label">Sign Up With GitHub</div>
      </div>
      <div class="or-box">
        <hr class="line-l" />
        or
        <hr class="line-r" />
      </div>
    </div>

    <a id="close_signupbackpopup" class="close"><img src="/img/login/close-dark.png"></a>
  <form class="signup-form" id="signup-popup-form" method="post">
    <p class="form-error" id="signup-popup-error"></p>
    <p class="form-error" id="signup-popup-unknown-error">{{#is language "ja"}}エラーが発生しました。ページをリロードしてやり直して下さい。{{else}}Please reload this page and try again.{{/is}}</p>
    <ul>
      <li class="email">
        <input type="text" name="register[email]" maxlength="255" placeholder="{{#is language "ja"}}メールアドレス{{else}}E-mail address{{/is}}" class="email" id="signup_popup_email" />
      </li>
      <li>
        <input type="password" name="register[password]" maxlength="30" placeholder="{{#is language "ja"}}パスワード{{else}}Password{{/is}}" class="password" id="signup_popup_password" />
      </li>
      <li>
        <input type="password" name="register[password_confirm]" maxlength="30" placeholder="{{#is language "ja"}}パスワード確認{{else}}Confirm password{{/is}}" class="password" id="signup_popup_password" />
      </li>

      <li class="" style="font-size: 14px;">
        <label for="agree_policy">
          {{#is language "ja"}}<a href="/terms-of-service/index.html" target="_blank">Monacaの利用規約</a>に同意の上、アカウントの作成をお願いします。
          {{else}}By clicking the button below you agree to <a href="/terms-of-service/index.html" target="_blank">terms of use and privacy policy</a>.{{/is}}
        </label>
      </li>
      <li>
        <button id="popup_signup_btn" class="btn-green btn-long" type="button">{{#is language "ja"}}今すぐ試す{{else}}Sign Up{{/is}}</button>
        <button id="popup_signup_btn" class="btn-gray btn-long" type="button">{{#is language "ja"}}企業向けプランのサインアップはこちら{{else}}xxxxxxxx{{/is}}</button>
        <span class="loading"></span>
      </li>
    </ul>
    <input type="hidden" name="register[_csrf_token]" value="" id="signuppopup-csrf-token" />
  </form>
  </div>

  <div class="signuppopup-container" id="signup-ng">
    <a href="http://www.google.com/chrome/" id="link-chrome" class="link" target="_blank">Google Chrome</a>
    <a href="http://www.apple.com/safari/" id="link-safari" class="link" target="_blank">Safari</a>
    <p>
      {{#is language "ja"}}お使いのブラウザはMonacaの開発環境に対応していません。Google ChromeもしくはSafariブラウザをご利用ください。
      {{else}}Your browser is not supported by Monaca IDE. Please install the latest version of Google Chrome or Safari for better experience.
      {{/is}}
    </p>
    <p><a class="license" href="/register/start.html">{{#is language "ja"}}会員登録は行っていただけます。{{else}}You can still continue signing up.{{/is}}</a></p>
  </div>
</div>
