<div id="signuppopup">

  <div id="signup-ok" class="signuppopup-container">
    <h3>{{#is language "ja"}}アカウント作成{{else}}Sign Up{{/is}}</h3>
    <div style="width: 100%; text-align: center;">
      <div id="signup-github" class="btn-github">
        <div class="github-img"></div>
        <div class="vertical-line"></div>
        <div class="signup-label">Sign Up With GitHub</div>
      </div>
      <div class="or-box">
        <hr class="line-l" />
        or
        <hr class="line-r" />
      </div>
    </div>

    <a id="close_signupbackpopup" class="close"><img src="/img/login/close-dark.png"></a>
    <form class="signup-form" id="TryNowForm">
      <ul>
        <p class="form-error" style="padding-top: 0;" id="signup-popup-error"></p>
        <li class="email">
          <input type="text" name="form[email]" maxlength="255" placeholder="{{#is language "ja"}}メールアドレス{{else}}E-mail address{{/is}}" class="email" id="signup_popup_email" />
        </li>
        <li>
          <input type="password" name="form[password]" maxlength="30" placeholder="{{#is language "ja"}}Password{{else}}パスワード{{/is}}" class="password" id="signup_popup_password" />
        </li>
        <li class="" style="font-size: 14px;">
          <label for="agree_policy">
            {{#is language "ja"}}<a href="/terms-of-service/index.html" target="_blank">Monacaの利用規約</a>に同意の上、アカウントの作成をお願いします。
            {{else}}<a href="/terms-of-service/index.html" target="_blank">By clicking the button below you agree to terms of use and privacy policy</a>{{/is}}
          </label>
        </li>
        <li>
          <button id="popup_signup_btn" type="button">{{#is language "ja"}}今すぐ試す{{else}}Sign Up{{/is}}</button>
          <span class="loading"></span>
        </li>
      </ul>
    </form>
  </div>

  <!--div class="signuppopup-container" id="signup-ng">
    <a href="http://www.google.com/chrome/" id="link-chrome" class="link" target="_blank">Google Chrome</a>
    <a href="http://www.apple.com/safari/" id="link-safari" class="link" target="_blank">Safari</a>
    <p>
      お使いのブラウザはMonacaの開発環境に対応していません。Google ChromeもしくはSafariブラウザをご利用ください。</p>
    <a class="license" href="/ja/register/start">会員登録は行っていただけます。</a>
  </div>-->
</div>
