<!DOCTYPE html>
<html lang="{{language}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#compare title "typeof" "string"}}
            {{title}} | Monaca
        {{else}}
            {{#is language "ja"}}
                {{title.ja}} | Monaca
            {{else}}
                {{title.en}} | Monaca
            {{/is}}
        {{/compare}}
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>
  <body class="{{class}}">

    {{> header }}

    <article class="main" role="main">

      {{> body }}

    </article>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
  </body>
</html>
