<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">

    {{#compare viewport "typeof" "string"}}
        <meta name="viewport" content="{{viewport}}">
    {{else}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/compare}}

    <title>
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    </title>
    {{#is language "ja"}}
        <meta name="keywords" content="
            {{#compare keywords "typeof" "string"}}
                {{keywords}}
            {{else}}
                Cordova,モバイルアプリ開発,iPhone開発,Android開発,ハイブリッドアプリ,クロスプラットフォーム,PhoneGap,Monaca
            {{/compare}}
        ">
    {{/is}}

    {{#compare redirect "typeof" "string"}}
        <meta http-equiv="refresh" content="0; URL={{redirect}}">
    {{/compare}}

    <script>
        var cb = function(href) {
            var l = document.createElement("link"); l.rel = "stylesheet";
            l.href = href;
            var h = document.getElementsByTagName("head")[0]; h.appendChild(l);
        };

        cb("/css/bootstrap.min.css");
        cb("/css/style.css");
        cb("//fonts.googleapis.com/css?family=Open+Sans:400,700");

        var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) {
            raf(cb);
        } else {
            window.addEventListener('load', cb);
        }
    </script>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta property="og:type" content="article">
    <meta property="og:title" content="
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    ">
    <meta property="og:image" content="{{#compare image "typeof" "string"}}{{image}}{{else}}https://monaca.io/img/ogp.png{{/compare}}">
    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    ">

    {{#compare description "typeof" "string"}}
        <meta name="description" content="{{description}}">
        <meta property="og:description" content="{{description}}">
        <meta name="twitter:description" content="{{description}}">
    {{else}}
        <meta name="description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
        <meta property="og:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
        <meta name="twitter:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
    {{/compare}}
</head>

<body class="{{class}}" style="display: none;">

    {{> header }}
    {{> notificationHeader }}
    <article class="main" role="main">

      {{> body }}

    </article>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/_signuppopup.js"></script>
    <script>
      window.MONACA_API_URL = "{{site.monaca_api}}";
      window.LANG = "{{language}}";
      window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
    </script>
    <script src="{{site.monaca_api}}/{{language}}/login_io?callback=monacaApi.loginCheck"></script>

  </body>
</html>
