<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#compare title "typeof" "string"}}
            {{title}} | Monaca
        {{else}}
            {{#is language "ja"}}
                {{title.ja}} | Monaca
            {{else}}
                {{title.en}} | Monaca
            {{/is}}
        {{/compare}}
    </title>
    <meta name="keywords" content="{{#is language "ja"}}Cordova,モバイルアプリ開発,iPhone開発,Android開発,ハイブリッドアプリ,クロスプラットフォーム,PhoneGap,Monaca{{else}}mobile app development,iphone development,android development,hybrid app,cross-platform,phonegap app,monaca,windows store development{{/is}}">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta property="og:type" content="article">
    <meta property="og:title" content="
        {{#compare title "typeof" "string"}}
            {{title}} | Monaca
        {{else}}
            {{#is language "ja"}}
                {{title.ja}} | Monaca
            {{else}}
                {{title.en}} | Monaca
            {{/is}}
        {{/compare}}
    ">
    <meta property="og:image" content="https://monaca.io/img/ogp.png">
    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="
        {{#compare title "typeof" "string"}}
            {{title}} | Monaca
        {{else}}
            {{#is language "ja"}}
                {{title.ja}} | Monaca
            {{else}}
                {{title.en}} | Monaca
            {{/is}}
        {{/compare}}
    ">

    {{#compare description "typeof" "string"}}
        <meta name="description" content="{{description}}">
        <meta property="og:description" content="{{description}}">
        <meta name="twitter:description" content="{{description}}">
    {{/compare}}
</head>

<body class="{{class}}">

    {{> header }}

    <article class="main" role="main">

      {{> body }}

    </article>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">		
  </body>
</html>
