<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{!-- meta elements (1 of 2) --}}
  <meta charset="UTF-8">
{{#compare viewport "typeof" "string"}}
  <meta name="viewport" content="{{viewport}}">
{{else}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{/compare}}

  {{!-- title element --}}
  {{!-- must be under charset="UTF-8", name="viewport" and name="robots". --}}
  <title>
    {{#compare title "typeof" "string"}}
      {{#is language "ja"}}
        {{title}}
      {{else}}
        {{title}}
      {{/is}}
    {{else}}
      {{#is language "ja"}}
        {{title.ja}}
      {{else}}
        {{title.en}}
      {{/is}}
    {{/compare}}
  </title>

  {{!-- meta elements (2 of 2) --}}
{{#is language "ja"}}
  <meta name="keywords" content="
      {{#compare keywords "typeof" "string"}}
          {{keywords}}
      {{else}}
          Cordova,モバイルアプリ開発,iPhone開発,Android開発,ハイブリッドアプリ,クロスプラットフォーム,PhoneGap,Monaca
      {{/compare}}
  ">
{{/is}}
{{#compare redirect "typeof" "string"}}
  <meta http-equiv="refresh" content="0; URL={{redirect}}">
{{/compare}}
  <meta property="og:type" content="article">
  <meta property="og:title" content="
      {{#compare title "typeof" "string"}}
          {{#is language "ja"}}
              {{title}}
          {{else}}
              {{title}}
          {{/is}}
      {{else}}
          {{#is language "ja"}}
              {{title.ja}}
          {{else}}
              {{title.en}}
          {{/is}}
      {{/compare}}
  ">
  <meta property="og:image" content="{{#compare image "typeof" "string"}}{{image}}{{else}}https://monaca.io/img/ogp-ja.png{{/compare}}">
  <meta property="fb:admins" content="597508315" >
  <meta name="twitter:site" content="@monaca_io">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@monaca_io">
  <meta name="twitter:image" content="{{#compare image "typeof" "string"}}{{image}}{{else}}https://monaca.io/img/ogp-ja.png{{/compare}}">
  <meta property="twitter:title" content="
      {{#compare title "typeof" "string"}}
          {{#is language "ja"}}
              {{title}}
          {{else}}
              {{title}}
          {{/is}}
      {{else}}
          {{#is language "ja"}}
              {{title.ja}}
          {{else}}
              {{title.en}}
          {{/is}}
      {{/compare}}
  ">
{{#compare description "typeof" "string"}}
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  <meta name="twitter:description" content="{{description}}">
{{else}}
  <meta name="description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
  <meta property="og:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
  <meta name="twitter:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
{{/compare}}

  {{!-- link elements (1 of 2) - Resources --}}
  <link rel="shortcut icon" href="/img/favicon.ico">

  {{!-- link elements (2 of 2) - Stylesheets --}}
{{#if stylesheets}}
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
{{/if}}

  {{!-- script elements --}}
  {{!-- (Note: Inline scripts cannot be deferred and evaluated immediately) --}}
  <script>
    window.MONACA_API_URL = "{{site.monaca_api}}";
    window.MONACA_GITHUB_OAUTH_URL = window.MONACA_API_URL+"/oauth/github/"+(+new Date());
    {{#is language "ja"}}
        window.LANG = "ja";
        window.HEADER_HEIGHT = 0;
        {{#if show_ja_globalnav}}window.HEADER_HEIGHT += 66;{{/if}}
        {{#if show_ja_subnav}}window.HEADER_HEIGHT += 56;{{/if}}
    {{else}}
        window.LANG = "en";
        window.HEADER_HEIGHT = 0;
    {{/is}}
    window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      $(document).ajaxError(function (e, request, settings) {
        ga('send', 'exception', {
          exDescription: 'Ajax Error ' + settings.url + ' ' + e.result + ' EventType:' + e.type + ' Status:' + request.status
        });
      });
    });
  </script>
{{#is language "ja"}}
  <script>
    var $buoop = {
      required: { e: 12 },
      mobile: false,
      style: "bottom",
      api: 2020.06,
      noclose: true,
      no_permanent_hide: true,
      ignorecookie: true,
      text: {
        'msg': 'お使いのブラウザ ({brow_name}) はサポートされていません。<br>',
        'msgmore': '本サイトを快適にご利用いただくには、最新の Google Chrome ブラウザをご使用ください。',
        'bupdate': 'Google Chrome のウェブサイトに移動する'
      },
      url: 'https://www.google.com/intl/ja/chrome/'
    };
    function $buo_f() {
      var e = document.createElement("script");
      e.src = "//browser-update.org/update.min.js";
      document.body.appendChild(e);
    };
    try { document.addEventListener("DOMContentLoaded", $buo_f, false); }
    catch (e) { window.attachEvent("onload", $buo_f); }
  </script>
{{/is}}
{{#is language "ja"}}
  <script>var Kairos3Tracker="asial";</script>
  <script defer type="text/javascript" charset="utf-8" src="//c.k3r.jp"></script>
{{/is}}
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/all.js"></script>
  <script defer src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
{{#is class "error"}}
  {{!-- In error page --}}
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      // Skip login check when API server is down
      monacaApi.loginCheck(false);
    });
  </script>
{{else}}
  {{!-- In normal page --}}
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      // Login check + IP address country check
      $.ajax({
        url: '{{site.monaca_api}}/{{language}}/login_io',
        dataType: 'json',
        timeout: 2000,
        success: function(data, textStatus, jqXHR) {
          monacaApi.loginCheck(data);
        },
        error: function(jqXHR, textStatus, err) {
          // If request failed or response is not valid JSON
          monacaApi.loginCheck(false); // Assume that not logged in
        }
      });
    });
  </script>
{{/is}}
</head>

<body class="{{class}}">
  {{#is language "ja"}}
  {{> header_ja }}
  {{else}}
  {{#unless hideHeader}}{{> header_en }}{{/unless}}
  {{/is}}
  {{> loginPopup }}
  {{> notificationHeader }}
  <article class="main{{#is language "ja"}}{{#if show_ja_globalnav}} ja-globalnav-shown{{/if}}{{#if show_ja_subnav}} ja-subnav-shown{{/if}}{{else}}{{#unless hideHeader}} en-globalnav-shown{{/unless}}{{/is}}" role="main">

    {{> body }}

  </article>
  {{#is language "ja"}}
  {{> footer_ja }}
  {{else}}
  {{#unless hideFooter}}{{> footer_en }}{{/unless}}
  {{/is}}
</body>
</html>
