<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">

    {{#compare viewport "typeof" "string"}}
        <meta name="viewport" content="{{viewport}}">
    {{else}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/compare}}

    <title>
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    </title>
    {{#is language "ja"}}
        <meta name="keywords" content="
            {{#compare keywords "typeof" "string"}}
                {{keywords}}
            {{else}}
                Cordova,モバイルアプリ開発,iPhone開発,Android開発,ハイブリッドアプリ,クロスプラットフォーム,PhoneGap,Monaca
            {{/compare}}
        ">
    {{/is}}

    {{#compare redirect "typeof" "string"}}
        <meta http-equiv="refresh" content="0; URL={{redirect}}">
    {{/compare}}

    <script>
        var loadResources = function() {
            var res = ["/css/codemirror.css", "//fonts.googleapis.com/css?family=Open+Sans:400,700"];
            var headElement = document.getElementsByTagName("head")[0];
            var l = document.createElement("link");

            for (var i = 0; i < res.length; i++) {
                var linkElement = document.createElement("link");
                linkElement.rel = "stylesheet";
                linkElement.href = res[i];
                headElement.appendChild(linkElement);
            }
        };

        var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) {
            raf(loadResources);
        } else {
            window.addEventListener('load', loadResources);
        }
    </script>
  {{#is language "ja"}}
    <script type="text/javascript">var Kairos3Tracker="asial";</script>
    <script type="text/javascript" charset="utf-8" src="//c.k3r.jp"></script>
  {{/is}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta property="og:type" content="article">
    <meta property="og:title" content="
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    ">
    <meta property="og:image" content="{{#compare image "typeof" "string"}}{{image}}{{else}}https://monaca.io/img/ogp.png{{/compare}}">
    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="
        {{#compare title "typeof" "string"}}
            {{#is language "ja"}}
                {{title}}
            {{else}}
                {{title}}
            {{/is}}
        {{else}}
            {{#is language "ja"}}
                {{title.ja}}
            {{else}}
                {{title.en}}
            {{/is}}
        {{/compare}}
    ">

    {{#compare description "typeof" "string"}}
        <meta name="description" content="{{description}}">
        <meta property="og:description" content="{{description}}">
        <meta name="twitter:description" content="{{description}}">
    {{else}}
        <meta name="description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
        <meta property="og:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
        <meta name="twitter:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.">
    {{/compare}}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>

    <script src="https://use.typekit.net/tky7gag.js"></script>
    <script>
        if (location.href.indexOf('/contest/') > 0) {
            try{Typekit.load({ async: true });}catch(e){}
        }
    </script>
</head>

<body class="{{class}}">

    {{#unless hideHeader}}
    {{> header }}
    {{/unless}}
    {{> signupPopup }}
    {{> loginPopup }}
    {{> notificationHeader }}
    <article class="main" role="main">

      {{> body }}

    </article>

    {{#unless hideFooter}}
    {{> footer }}
    {{/unless}}

    <script>
        window.MONACA_API_URL = "{{site.monaca_api}}";
        window.MONACA_GITHUB_OAUTH_URL = window.MONACA_API_URL+"/oauth/github/"+(+new Date());
        {{#is language "ja"}}
            window.LANG = "ja";
        {{else}}
            window.LANG = "en";
        {{/is}}
        window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";

        $(document).ajaxError(function (e, request, settings) {
          ga('send', 'exception', {
            exDescription: 'Ajax Error ' + settings.url + ' ' + e.result + ' EventType:' + e.type + ' Status:' + request.status
          });
        });
    </script>
    {{#is language "ja"}}
        <script src="{{site.monaca_api}}/ja/login_io?callback=monacaApi.loginCheck"></script>
    {{else}}
        <script src="{{site.monaca_api}}/en/login_io?callback=monacaApi.loginCheck"></script>
    {{/is}}
    <script>
      if (!monacaApi.executedLoginCheck) {
        monacaApi.loginCheck({});
      }
    </script>
  </body>
</html>
