<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{!-- meta elements (1 of 2) --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- title element --}}
  {{!-- must be under charset="UTF-8", name="viewport" and name="robots". --}}
  <title>{{title}}</title>

  {{!-- meta elements (2 of 2) --}}
  <meta name="theme-color" content="#0054ac"/>
{{#is language "ja"}}
  <meta name="description" content="Monacaは最新のWeb技術を活用したアプリ開発ソリューションです。モバイル、PC、Webアプリのクロスプラットフォーム開発を実現します。組織全体のスキルセットを統一し、実践的で効果的な開発プロセスを実現します。">
  <meta property="og:description" content="Monacaは最新のWeb技術を活用したアプリ開発ソリューションです。モバイル、PC、Webアプリのクロスプラットフォーム開発を実現します。組織全体のスキルセットを統一し、実践的で効果的な開発プロセスを実現します。">
  <meta name="keywords" content="Monaca,DevOps,Cordova,クロスプラットフォーム開発,デジタルトランスフォメーション,開発クラウド">
  <meta property="og:image" content="https://monaca.io/img/ogp_ja.png">
  <meta property="og:url" content="https://ja.monaca.io/">
  <meta name="twitter:image" content="https://monaca.io/img/ogp_ja.png">
  <meta property="twitter:description" content="Monacaは最新のWeb技術を活用したアプリ開発ソリューションです。モバイル、PC、Webアプリのクロスプラットフォーム開発を実現します。組織全体のスキルセットを統一し、実践的で効果的な開発プロセスを実現します。">
{{else}}
  <meta name="description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.">
  <meta property="og:image" content="https://monaca.io/img/ogp.png">
  <meta property="og:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.">
  <meta property="og:url" content="https://monaca.io/">
  <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
  <meta property="twitter:description" content="Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.">
{{/is}}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}}">
  <meta property="fb:admins" content="597508315" >
  <meta name="twitter:site" content="@monaca_io">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@monaca_io">
  <meta property="twitter:title" content="{{title}}">
{{#if addEnIndexMeta}}
  <meta name="wot-verification" content="e3deda70c83199129d73"/>
{{/if}}

  {{!-- link elements (1 of 2) - Resources --}}
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="manifest" href="/manifest.json">

  {{!-- link elements (2 of 2) - Stylesheets --}}
{{#if stylesheets}}
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
{{/if}}

  {{!-- script elements --}}
  {{!-- (Note: Inline scripts cannot be deferred and evaluated immediately) --}}
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js',).then(function(registration) {
          // Registration was successful
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          // registration failed :(
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }

    window.MONACA_API_URL = "{{site.monaca_api}}";
    window.MONACA_GITHUB_OAUTH_URL = window.MONACA_API_URL+"/oauth/github/"+(+new Date());
    {{#is language "ja"}}
        window.LANG = "ja";
    {{else}}
        window.LANG = "en";
    {{/is}}
    window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-526750-32"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-526750-32', { 'optimize_id': 'GTM-N5QB3FJ'});
    });
  </script>
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/all.js"></script>
{{#is language "ja"}}
  <script defer src="{{site.monaca_api}}/ja/login_io?callback=monacaApi.loginCheck"></script>
{{else}}
  <script defer src="{{site.monaca_api}}/en/login_io?callback=monacaApi.loginCheck"></script>
{{/is}}
</head>
<body class="{{class}}">
  <noscript>
    <!-- When JavaScript is disabled, make all of elements invisible to prevent rendering incomplete HTML -->
    <style>
      div.main { display: none !important }
      footer.common { display: none !important }
      footer.v2-section--footer { display: none !important }
    </style>
    <p>Javascript is loading, please wait. Please enable javascript, if you have it disabled.</p>
  </noscript>

  {{#is language "ja"}}{{> header_ja }}{{else}}{{> header_en }}{{/is}}

  <div class="main{{#is language "ja"}}{{#if show_ja_globalnav}} ja-globalnav-shown{{/if}}{{#if show_ja_subnav}} ja-subnav-shown{{/if}}{{else}}{{#unless hideHeader}} en-globalnav-shown{{/unless}}{{/is}}" role="main">
    {{> loginPopup }}
    {{> notificationHeader }}
    {{> body }}
  </div>

  {{#is language "ja"}}{{> footer_ja }}{{else}}{{> footer_en }}{{/is}}
</body>
</html>
