<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{title}}
    </title>
    <meta name="description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">
    <meta name="keywords" content="{{#is language "ja"}}Monaca,HTML5,Cordova,PhoneGap,MEAP{{else}}mobile app development,iphone development,android development,hybrid app,cross-platform,phonegap app,monaca,windows store development{{/is}}">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta property="og:url" content="{{#is language "ja"}}https://ja.monaca.io/{{else}}https://monaca.io/{{/is}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://monaca.io/img/ogp.png">
    <meta property="og:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">

    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">

</head>
<body class="{{class}}">

    {{> header }}

    <div class="main" role="main">
			<div class="monaca_info visible-xs visible-sm visible-md visible-lg">
						{{#is language "ja"}}
							<a href="http://monaca.mobi/ja/headline/fault">
								<h2>本日9:45から11:25にかけてサーバ障害によりMonacaの全サービスがご利用できない状況が発生しておりました。ご迷惑をおかけして申し訳ありませんでした。</h2>
							</a>
						{{else}}
							<a href="http://monaca.mobi/en/headline/fault">
								<h2> The Monaca service was unavailable due to server trouble during today 00:45-02:25 UTC. Sorry for inconvenience.</h2>
							</a>
						{{/is}}
					</a>
			</div>

        {{> body }}

    </div>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</body>
</html>
