<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{title}}
    </title>
    <meta name="description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">
    {{#is language "ja"}}<meta name="keywords" content="Monaca,HTML5,Cordova,PhoneGap,MEAP">{{/is}}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <meta property="og:url" content="{{#is language "ja"}}https://ja.monaca.io/{{else}}https://monaca.io/{{/is}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://monaca.io/img/ogp.png">
    <meta property="og:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">

    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca is a cloud based mobile app development environment. Supports iOS/Android/Windows 8 hybrid apps in one source.{{/is}}">
</head>
<body class="{{class}}">

    {{> header }}

    <div class="main" role="main">
        {{> notificationHeader }}
        {{> body }}

    </div>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <script>
        window.LANG = "{{language}}";
        window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
    </script>
</body>
</html>
