<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
  {{!-- meta elements (1 of 2) --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- title element --}}
  {{!-- must be under charset="UTF-8", name="viewport" and name="robots". --}}
  <title>{{title}}</title>

  {{!-- meta elements (2 of 2) --}}
  <meta name="theme-color" content="#0054ac"/>
  <meta name="description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else is language "es"}}Monaca es un completo set de servicios y herramientas que simplifica el desarrollo de aplicaciones móviles basadas en PhoneGap/Cordova y lo hace mucho más fácil e intuitivo.{{else is language "de"}}Monaca macht hybride App-Entwicklung mit PhoneGap/Cordova wesentlich einfacher durch eine cloudbasierende Entwicklungsplatform und Dienstleistungen.{{else is language "it"}}Monaca rende molto più semplice lo sviluppo di applicazioni mobile ibride basate su PhoneGap/Cordova grazie ai suoi strumenti di sviluppo e servizi cloud-powered.{{else is language "ru"}}Monaca делает разработку гибридных мобильных приложений на основе PhoneGap/Cordova простой и легкой.{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.{{/is}}">
{{#is language "ja"}}
  <meta name="keywords" content="Monaca,HTML5,Cordova,PhoneGap,MEAP">
{{/is}}
  <meta property="og:url" content="{{#is language "ja"}}https://ja.monaca.io/{{else}}https://monaca.io/{{/is}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}}">
  <meta property="og:image" content="https://monaca.io/img/ogp_ja.png">
  <meta property="og:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else is language "es"}}Monaca es un completo set de servicios y herramientas que simplifica el desarrollo de aplicaciones móviles basadas en PhoneGap/Cordova y lo hace mucho más fácil e intuitivo.{{else is language "de"}}Monaca macht hybride App-Entwicklung mit PhoneGap/Cordova wesentlich einfacher durch eine cloudbasierende Entwicklungsplatform und Dienstleistungen.{{else is language "it"}}Monaca rende molto più semplice lo sviluppo di applicazioni mobile ibride basate su PhoneGap/Cordova grazie ai suoi strumenti di sviluppo e servizi cloud-powered.{{else is language "ru"}}Monaca делает разработку гибридных мобильных приложений на основе PhoneGap/Cordova простой и легкой.{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.{{/is}}">
  <meta property="fb:admins" content="597508315" >
  <meta name="twitter:site" content="@monaca_io">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@monaca_io">
  <meta name="twitter:image" content="https://monaca.io/img/ogp_ja.png">
  <meta property="twitter:title" content="{{title}}">
  <meta property="twitter:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else is language "es"}}Monaca es un completo set de servicios y herramientas que simplifica el desarrollo de aplicaciones móviles basadas en PhoneGap/Cordova y lo hace mucho más fácil e intuitivo.{{else is language "de"}}Monaca macht hybride App-Entwicklung mit PhoneGap/Cordova wesentlich einfacher durch eine cloudbasierende Entwicklungsplatform und Dienstleistungen.{{else is language "it"}}Monaca rende molto più semplice lo sviluppo di applicazioni mobile ibride basate su PhoneGap/Cordova grazie ai suoi strumenti di sviluppo e servizi cloud-powered.{{else is language "ru"}}Monaca делает разработку гибридных мобильных приложений на основе PhoneGap/Cordova простой и легкой.{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered mobile app development tools and services.{{/is}}">
{{#if addEnIndexMeta}}
  <meta name="wot-verification" content="e3deda70c83199129d73"/>
{{/if}}

  {{!-- link elements (1 of 2) - Resources --}}
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="manifest" href="/manifest.json">

  {{!-- link elements (2 of 2) - Stylesheets --}}
{{#if stylesheets}}
  {{#each stylesheets}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
{{else}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/all.css">
{{/if}}

  {{!-- script elements --}}
  {{!-- (Note: Inline scripts cannot be deferred and evaluated immediately) --}}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-526750-32"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-526750-32', { 'optimize_id': 'GTM-N5QB3FJ'});
    }
  </script>
  <script defer src="https://use.typekit.net/tky7gag.js"></script>
  <script defer>try{Typekit.load({ async: true });}catch(e){}</script>
  <script defer src="/js/jquery.min.js"></script>
  <script defer src="/js/bootstrap.min.js"></script>
  <script defer src="/js/all.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js',).then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }

      window.MONACA_API_URL = "{{site.monaca_api}}";
      window.MONACA_GITHUB_OAUTH_URL = window.MONACA_API_URL+"/oauth/github/"+(+new Date());
      {{#is language "ja"}}
          window.LANG = "ja";
      {{else}}
          window.LANG = "en";
      {{/is}}
      window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
    }
  </script>
{{#is language "ja"}}
  <script defer src="{{site.monaca_api}}/ja/login_io?callback=monacaApi.loginCheck"></script>
{{else}}
  <script defer src="{{site.monaca_api}}/en/login_io?callback=monacaApi.loginCheck"></script>
{{/is}}
</head>
<body class="{{class}}">
  <noscript>
    <!-- When JavaScript is disabled, make all of elements invisible to prevent rendering incomplete HTML -->
    <style>
      div.main { display: none !important }
      footer.common { display: none !important }
      footer.v2-section--footer { display: none !important }
    </style>
    <p>Javascript is loading, please wait. Please enable javascript, if you have it disabled.</p>
  </noscript>

  {{#is language "ja"}}{{> header_ja }}{{else}}{{> header_en }}{{/is}}

  <div class="main" role="main"{{#is language "ja"}}{{#if show_ja_globalnav}}{{#if show_ja_subnav}} style="padding-top: 122px;"{{else}} style="padding-top: 66px;"{{/if}}{{/if}}{{else}}{{#unless hideHeader}} style="padding-top: 50px;"{{/unless}}{{/is}}>
    {{> loginPopup }}
    {{> notificationHeader }}
    {{> body }}
  </div>

  {{#is language "ja"}}{{> footer_ja }}{{else}}{{> footer_en }}{{/is}}
</body>
</html>
