<!DOCTYPE html>
<html lang="{{language}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{title}}
    </title>
    <meta name="description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.{{/is}}">
    {{#is language "ja"}}<meta name="keywords" content="Monaca,HTML5,Cordova,PhoneGap,MEAP">{{/is}}

    <script>
        var cb = function(href) {
            var l = document.createElement("link"); l.rel = "stylesheet";
            l.href = href;
            var h = document.getElementsByTagName("head")[0]; h.appendChild(l);
        };

        cb("/css/bootstrap.min.css");
        cb("/css/style.css");
        cb("//fonts.googleapis.com/css?family=Open+Sans:400,700");

        var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) {
            raf(cb);
        } else {
            window.addEventListener('load', cb);
        }
    </script>


    <link rel="shortcut icon" href="/img/favicon.ico">

    <meta property="og:url" content="{{#is language "ja"}}https://ja.monaca.io/{{else}}https://monaca.io/{{/is}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://monaca.io/img/ogp.png">
    <meta property="og:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.{{/is}}">

    <meta property="fb:admins" content="597508315" >
    <meta name="twitter:site" content="@monaca_io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@monaca_io">
    <meta name="twitter:image" content="https://monaca.io/img/ogp.png">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{#is language "ja"}}Monacaは、Cordovaを内包したHTML5ハイブリッドアプリ開発プラットフォームです。HTML5でマルチプラットフォーム対応のモバイルアプリ開発が行えます。{{else}}Monaca makes hybrid app development with PhoneGap/Cordova a lot easier with its comprehensive cloud-powered app development tools and services.{{/is}}">

    <script src="https://use.typekit.net/tky7gag.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="{{class}}">

    {{> header }}

    <div class="main" role="main">
        {{> loginPopup }}
        {{> signupPopup }}
        {{> notificationHeader }}
        {{> body }}

    </div>

    {{> footer }}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
    <script>
        window.MONACA_API_URL = "{{site.monaca_api}}";
        window.LANG = "{{language}}";
        window.NOTIFICATION_MESSAGE_URL = "https://642dad3ff5abc36218998a19ee31a174f322b763.googledrive.com/host/0B-F5PfgMvTC9dmJONEtWY2xCRm8/emergency_notification/emergency_header.json";
    </script>
    <script src="{{site.monaca_api}}/{{language}}/login_io?callback=monacaApi.loginCheck"></script>
    <script>
      if (!monacaApi.executedLoginCheck) {
        monacaApi.loginCheck({});
      }
    </script>
</body>
</html>
